[Unit]
Description= 
Before=remote-fs-pre.target
Wants=remote-fs-pre.target network.target

[Service]
Type=simple
Restart=always
WorkingDirectory=
ExecStart=
#StandardOutput=null

[Install]
WantedBy=multi-user.target